.general-page {
  &__container {
    padding: 15px;
    position: relative;
  }

  &__wrapper {
    position: relative;
    max-width: 1390px;
    width: 100%;
    padding: 290px 0 450px 0;
    margin: 0 auto;
    border-radius: 24px;
    overflow: hidden;
  }

  &__title {
    position: absolute;
    text-align: center;
    font-size: 110px;
    line-height: 1;
  }

  &__layout {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--layout-1 {
      display: flex;
      justify-content: center;
      padding-top: 130px;
    }

    &--layout-2 {
      z-index: 5;
    }
  }

  &__inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    margin: 0 15px;
    max-width: 1240px;
    width: 100%;
    border-radius: 24px;
    box-shadow: 0 30px 60px 0 rgba(198, 191, 191, 0.18);
    background-color: $white;
    z-index: 6;
    left: 50%;
    bottom: -35px;
    transform: translateX(-51%);
  }

  &__text {
    max-width: 570px;
    width: 100%;
    font-size: 40px;
    line-height: 1.4;

    span {
      color: $orange-100;
    }
  }

  &__tourists-list {
    display: flex;
    align-items: center;
    justify-content: centers;
  }

  &__tourists-item {
    color: rgba($color: $black-100, $alpha: 0.6);

    &:not(:last-child) {
      margin-left: -25px;
    }

    &:last-child {
      max-width: 103px;
      width: 100%;
      margin-left: 16px;
    }

    span {
      color: $orange-100;
    }
  }
}