.search-form {
  display: flex;
  align-items: center;
  justify-content: center;

  &__search-icon {
    display: flex;
    align-items: center;
    padding-right: 40px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &::before {
      content: '';
      height: 24px;
      width: 2px;
      border-left: 2px solid rgba($color: $grey-100, $alpha: 0.3);
      border-radius: 1px;
    }
  }

  &__input {
    padding: 2px 5px;

    &::placeholder {
      color: rgba($color: $grey-100, $alpha: 0.3);
    }
  }
}